.navbar_container{
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #292929;
    width: 100%;
    height: auto;
    cursor: default;
    user-select: none;

    .left_container{
        display: flex;
        flex-direction: row;
        justify-content: start;
        .logo_container{
            width: 50px;
            background-image: url("../../ressources/logo/px.png");
            background-size: contain;
            background-repeat: no-repeat;
        }

        .title_container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            color: azure;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: medium;
        }

    }

    .button_container{
        display: flex;
        flex-direction: row;
        height: auto;
        width: 140px;
        .button{
            -webkit-app-region: no-drag;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: sandybrown;

            &:hover{
                //filter: blur(1px);
                background-color: rgb(94, 93, 99);
            }
        }
        transition-duration: 2s;
    }
}