<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <%- include("../includes/include_navbar.ejs") %>
    Page chargée !
    <ul>
        <% for( var categorie in anime_data.solo ) { %>
            <li><%= categorie %> </li>
            <li> <%= anime_data.solo[categorie].hash %> </li>
        <% } %>
    </ul>
    <% ejse.stopListening() %> 
</body>
</html>