<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loader</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <script src="../scripts/anime_loader.js" defer></script>
    <%- include("../includes/include_navbar.ejs") %> 
    <%- include("../template/load.ejs") %> 
</body>
</html>