<link rel="stylesheet" href="../styles/load.css">
<div class="wrap">
    <div class="loading">
        <div class="bounceball"></div>
        <div class="text">Chargement des animes...</div>
    </div>
</div>