<div class="navbar_container">
    <div class="left_container">
        <div class="logo_container">
        </div>
        <div class="title_container">
            Aniplex
        </div>
    </div>
    <div class="button_container">
        <div class="button" id="reduce_container">-</div>
        <div class="button" id="fullsize_container">+</div>
        <div class="button" id="close_container">x</div>
    </div>
</div>